<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Intersales_ImmediateValidation>
			<version>1.0.0</version>
		</Intersales_ImmediateValidation>
	</modules>

	<global>
		<helpers>
			<immediatevalidation>
				<class>Intersales_ImmediateValidation_Helper</class>
			</immediatevalidation>
		</helpers>
	</global>

	<frontend>
		<layout>
			<updates>
				<immediatevalidation>
					<file>intersales/immediatevalidation.xml</file>
				</immediatevalidation>
			</updates>
		</layout>
	</frontend>
</config>