<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Intersales_AutoValidation>
			<version>1.0.0.0</version>
		</Intersales_AutoValidation>
	</modules>

	<global>
		<helpers>
			<intersales_autovalidation>
				<class>Intersales_AutoValidation_Helper</class>
			</intersales_autovalidation>
		</helpers>
	</global>

	<frontend>
		<layout>
			<updates>
				<intersales_autovalidation>
					<file>intersales_autovalidation.xml</file>
				</intersales_autovalidation>
			</updates>
		</layout>
	</frontend>
</config>